.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.store-parent {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
}

.store-items-left {
  padding-right: 40%;
}

/* .store-items-right {
  padding-left: 50%;
} */

.store-list-item-box {
  height: 250px;
  width: 450px;
  /* margin: 15%; */
  background-color: #5cddf7;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 15px;
}

.product-card {
  height: auto;
  width: 450px;
  /* margin: 15%; */
  background-color: #5cddf7;
  border: solid black 2px;
  justify-content: center;
  border-radius: 4px;
}

.product-img {
  width: 33%;
  height: auto;
}
h1 {
  color: #f7f75c;
  font-size: 100px;
  font-style: italic;
}

p {
  font-style: italic;
}


button {
  background: #9f5cf7;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-style: bold;
  margin: 20px;
  border-radius: 4px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center space-around;
  align-items: center;
}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #ff80ff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #ff80ff;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #ff80ff;
}

#parallelogram {
  margin: 40px;
  display: flex;
  justify-content: center;
  width: 750px;
  height: 250px;
  transform: skew(-20deg);
  background: #5cddf7;
  align-items: center;
  border-radius: 4px;
}

body {
  background-color: #ff80ff;
  font-size: 20px;
  font-family: Verdana;
}

input {
  color: #5cddf7
}

.login-container {
  background:  #5cddf7;
  width: 300px;
  height: 300px;
  border-radius: 4px;
}

.login-button {
  height: 100px;
  width: 300px;
  font-size: 40px;
  font-style: bold;
}

.navbar {
  background-color: #5cddf7;
}

.title-text {
  color: #f7f75c;
  font-size: 36px;
  font-style: italic;
}